<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QMSNov25.Properties.Settings.qmsdev" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=qms"
            providerName="MySql.Data.MySqlClient" />
        <add name="QMSNov25.Properties.Settings.qmsa" connectionString="server=localhost;user id=root;password=Matrix_4390;persistsecurityinfo=True;database=qms"
            providerName="MySql.Data.MySqlClient" />
        <add name="LogAuth" connectionString="Server=127.0.0.1;Database=qms;Uid=root;Pwd=Matrix_4390"
            providerName="MySql.Data.MySqlClient" />
        <add name="QMS.Properties.Settings.qmsdev" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=qms"
            providerName="MySql.Data.MySqlClient" />
        <add name="QMS.Properties.Settings.qmsa" connectionString="server=localhost;user id=root;password=Matrix_4390;persistsecurityinfo=True;database=qms"
            providerName="MySql.Data.MySqlClient" />
        <add name="QMS.Properties.Settings.qmsCon" connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=qsync"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>